.container {
    background-color: #f5f5fa;
    min-height: 100vh;
    padding-bottom: 40px;
}

.container__category-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: var(--white-color);
    font-size: 16px;
    padding: 16px 12px;
}

.mySlides {
    // display: none;
}

.slider {
    position: relative;

    img {
        width: 100%;
        border-radius: 2px;
    }

    .slider-button-left {
        font-size: 20px;
        position: absolute;
        top: 120px;
        left: 4px;
        cursor: pointer;
    }

    .slider-button-right {
        font-size: 20px;
        position: absolute;
        top: 120px;
        right: 4px;
        cursor: pointer;
    }
}

.banner {
    img {
        width: 100%;
        border-radius: 4px;
    }
}

.banner-2 {
    img {
        width: 100%;
        border-radius: 4px;
        height: 160px;
    }
}

.banner-3 {
    img {
        width: 100%;
        border-radius: 16px;
        height: 160px;
    }
}

// Menu
.menu {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 24px 16px;
    border-radius: 2px;
}

.menu-item {
    width: 90px;
    text-align: center;
    cursor: pointer;

    img {
        width: 46px;
        height: 46px;
    }
}

// Product
.product {
    display: block;
    background-color: var(--white-color);
    padding: 4px 16px;
    height: auto;
    transition: transform ease-in 0.1s;
    will-change: transform;

    .product-img {
        width: 100%;
    }

    .product-heading {
        color: var(--black-color);
        font-size: 16px;
        margin-bottom: 8px;
        margin-left: 8px;
    }

    &:hover {
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
        transform: translateY(-1px);
        border: 1px solid rgb(0 0 0 / 10%);
        background-color: var(--white-color);
    }
}

.product-action {
    display: flex;
    align-items: center;
    margin-left: 8px;

    .product-action-rating {
        line-height: 12px;
        padding: 0 8px 0 0;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-color: #999;
            width: 1px;
            height: 10px;
            right: 0;
            top: 3px;
        }
    }

    .product-action-star {
        color: var(--text-color);
        font-size: 12px;
    }

    .product-action-star--gold {
        color: yellow;
    }

    .product-action-sold {
        font-size: 12px;
        color: var(--text-color);
        margin: 4px 0 0 6px;
        line-height: 12px;
    }
}

.product-price {
    margin: 8px 0 40px 0;
    margin-left: 8px;

    .product-new-price {
        font-size: 18px;
        font-weight: 700;
        color: var(--price-color);
        margin-right: 8px;
    }

    .product-price-sale {
        border: 1px solid var(--price-color);
        color: var(--price-color);
    }
}

.button-view-add {
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    padding: 16px 0;

    button {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        padding: 8px 88px;
        background-color: var(--white-color);
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;

        &:hover {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
    }
}
