.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    flex-direction: column;
    width: 140px;
    cursor: pointer;

    img:first-child {
        width: 50%;
        height: 50%;
        margin-bottom: 10px;
    }
    img:last-child {
        width: 60%;
        height: 60%;
    }
}

.search-cart {
    display: flex;
}

.cart {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8px;
}

.cart-top {
    display: flex;
    align-items: center;
    color: var(--white-color);
    cursor: pointer;

    .cart-wrap {
        position: relative;

        .icon-cart {
            font-size: 25px;
            margin-right: 8px;
            padding: 4px 8px;
        }
        .cart-badget {
            position: absolute;
            top: -6px;
            right: 0px;
            background-color: yellow;
            color: var(--black-color);
            border-radius: 50%;
            padding: 3px 9px;
        }
    }
    p {
        font-size: 14px;
        padding-top: 14px;
    }
}

.cart-bottom {
    color: var(--white-color);
    margin-top: 8px;
    background-color: blue;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 14px;
    cursor: pointer;

    .icon-house {
        margin-right: 4px;
    }
}
